/*
width,
height,
display: inline-block,
margin,
padding,


*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

#header {
    border-bottom: 1px solid black;
   

}

#header * {
    display: inline-block;


}


#header ul li a {
    text-decoration: none;

}

#header img {
    width: 60px;
    position: relative;
    bottom: -14px;
    right: -12px;
}

#header ul {

    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    left: 100%;
}

#header h1{
    font-size: 15px;
    position: ;
}

#header ul li {
    width: 120px;
    text-align: center;
}

#banner {
    text-align: center;
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: bold;
}

#banner h2 {
    font-size: 35px;
    text-transform: uppercase;
}

#banner button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
}

#banner button:hover,
.box button:hover {
    background-color: purple;
    color: #fff;
    cursor: pointer;
}

#banner p {
    padding-top: 240px;
}

footer {
    background-color: #5f4a90;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
}

.box {
    width: 327px;
    height: 300px;
    float: left;
    margin: 20px;
    background-size: cover;
    position: relative;
}

.box button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 80px;
    bottom: 10px
}

#box1 {
    background-image: url(../img/product-1.jpg);
}

#box2 {
    background-image: url(../img/product-2.jpg);
}

#box3 {
    background-image: url(../img/product-3.jpg);
}

#box4 {
    background-image: url(../img/product-4.jpg);
}

#box5 {
    background-image: url(../img/product-5.jpg);
}

#box6 {
    background-image: url(../img/product-6.jpg);
}

section {
    overflow: hidden;
    text-align: center;
}

.linha {
    width: 1104px;
    margin: 0 auto;

}

#contato {
    overflow: hidden;

}

label {
    font-size: 20px;
}

#contato {
    background-image: url("../img/bg.jpg");
    padding: 60px;
    background-size: cover;
}

.formulario * {
    display: block;

}

.formulario {

    display: block;
    width: 35%;
    margin: 0 auto;
    border: 2px solid #5f4a90;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.651)
}

.formulario input,
textarea {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    border: 1px solid #5f4a90;
    border-radius: 30px;


}

.formulario textarea {
    height: 120px;


}

form #check {
    display: inline-block;
    width: 5%;
}

form label[for="check"] {
    display: inline-block;

}

.formulario button {
    display: inline-block;
    background-color: #5f4a90;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}